*{
  margin: 0;
  padding: 0;
}
  
  span {
    display: block;
  }
  .canvas {
    margin: 100px auto 100px;
    width: 80%;
    text-align: center;
  }
  
  .button {
    width: 100px;
    height: 100px;
    border: solid black 2px;
    display: inline-block;
  }
  
  #grey {
    background: grey;
  }
  
  #white {
    background: white;
  }
  #blue {
    background: blue;
  }
  #yellow {
    background: yellow;
  }
  #purple {
    background: purple;
  }
  
  nav{
    background-color: beige;
    width: 1470px;
    height: 75px;
    display: flex;
    border: 2px solid black;
    border-radius: 10px;
    margin: 5px;
    justify-content: space-around;
    align-items: center;
  }
  .div1{
    background-color: rgba(0, 0, 0, 0.267);
    width: 500px;
    height: 50px;
    display: flex;
    border: 2px solid rgba(0, 0, 0, 0.267);
    border-radius: 10px;
    margin: 5px;
    justify-content: center;
    align-items: center;
  }
  .div2{
    background-color: rgba(0, 0, 0, 0.267);
    width: 500px;
    height: 50px;
    display: flex;
    border: 2px solid rgba(0, 0, 0, 0.267);
    border-radius: 10px;
    margin: 5px;
    justify-content: center;
    align-items: center;
  }
  .home{
    color: black;
    font-size: 20px;
  }